---
const pageTitle = 'About me';
const identity = {
  firstName: 'Mikaël',
  country: 'Canada',
  occupation: 'full-stack developer',
  hobbies: ['coding', 'reading', 'hiking'],
  skills: [
    'HTML',
    'CSS',
    'JavaScript',
    'Node.js',
    'React',
    'Astro',
    'Drupal 8+',
  ],
};
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href='/'>Home</a>
    <a href='/about'>About me</a>
    <a href='/blog'>Blog</a>

    <h1>{pageTitle}</h1>

    <h2>A few facts</h2>

    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{' '}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>

    <h2>My skills</h2>

    <ul>
      {identity.skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </body>
</html>
